@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --color-primary: #7380ec;
    --color-danger: #f7782f;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #5164CB;
    --color-dark-variant:#677483;
    --color-background: #f6f6f9;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
    --header-margin: 3.8rem;
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 600;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--color-primary-variant);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 2px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    --bs-btn-color: var(--color-primary-variant);
    --bs-btn-border-color: var(--color-primary-variant);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--color-primary-variant);
    --bs-btn-hover-border-color: var(--color-primary-variant);
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--color-primary-variant)#0d6efd;
    --bs-btn-active-border-color: var(--color-primary-variant);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0d6efd;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0d6efd;
    --bs-gradient: none;
}

/* ---- DARK THEME VARAIBLES ----- */
.dark-theme-variables {
--color-background: #181a1e;
--color-white: #202528;
--color-dark: #edeffd;
--color-dark-variant:#a3bdcc;
--color-light: rgba(0, 0, 0, 0.4);
--box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    appearance: none;
    text-decoration: none ;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'poppins', sans-serif;
    font-size: 0.88rem;
    background-color: var(--color-background);
    user-select: none;
    color: var(--color-dark);
}

a {
    color: var(--color-dark);
}

p {
    text-align: start;
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
    color: var(--color-primary-variant);
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

textarea {
    color: var(--color-dark);
    resize: none;
}

.btn {
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}

button:focus:not(:focus-visible) {
    outline: 0;
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 28rem;
    align-items: start;
}

.text-muted {
    color: var(--color-info-dark);
}

main .options .option.selected {
    border: 2px solid var(--color-primary);
    background: var(--color-primary);
    color: white;
}

main .options .option.selected p {
    color: white;
}

main .options .option.selected small {
    color: white;
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger );
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

aside {
    height: 100vh;
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
}
aside .logo {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

aside .logo span.logo {
    font-size: 3rem;
    color: var(--color-danger);
}

aside .close {
    display: none;
}

/* ======= SIDEBAR ======== */
aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar div {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
    cursor: pointer;
}

aside div span {
    font-size: 1.8rem;
    transition: all 300ms ease;
}

aside .sidebar div.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar div.active::before {
    content: "";
    background: var(--color-primary);
    width: 6px;
    height: 100%;
}

aside .sidebar div.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar div:hover {
    color: var(--color-primary);
}

aside .sidebar div:hover span {
    margin-left: 1rem;
}

/* ==== Main ===== */
main {
    margin-top: 1.4rem;
    margin-bottom: 3rem;
}

main .header-content {
    background: var(--color-white);
    margin-top: var(--header-margin);
    padding: 1.2rem;
    padding-bottom: 2.2rem;
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow);
}

main .header-content .content h1 {
    font-size: 2.5rem;
    padding-left: 0.5rem;
    padding-bottom: 2rem;
    color: var(--color-dark);
}

main .header-content .content p {
    font-size: 1.2rem;
    font-weight: 500;
}

main .header-content .content p a{
    color: var(--color-primary);
}

main .header-content .content ul li .content {
    display: flex;
    align-items: center;
    padding: 0.2rem;
}

main .header-content .content ul li .content span {
    color: var(--color-primary);
    margin-right: 0.6rem;
    font-size: 1.2rem;
}

main .options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    margin-top: 1.1rem;
    gap: 1.2rem;
}

.options-header {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.options-header .options-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    background: transparent;
    border: 3px solid var(--color-primary-variant);
    color: #000;
    font-size: 1.8rem;
    font-weight: 600;
    margin-right: 0.6rem;
}

.options-header .options-logo p{
    color: var(--color-primary-variant);
}

main .options .option {
    background: var(--color-white);
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow);
    /* transition: all 300ms ease; */
    display: flex;
    width: 15rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    cursor: pointer;
    padding: 1.5rem;
}

main .options .option:hover {
    box-shadow: none;
}

main .options .option .header .image {
    display: flex;
    background: var(--color-white);
}
main .options .option .header .image img {
    width: 150px;
}


main .options .option  h2 {
    font-size: 1.2rem;
}

main .options .option .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.2rem;
}

main .options .option .description {
    padding-left: 1.3rem;
    display: none;
}

main .row .options .option small {
    display: block;
}

main .smiles-form form{
    display: flex;
    position: relative;
    background: var(--color-white);
    flex-direction: column;
    align-items: flex-end;
    margin-top: 1.4rem;
    width: 100;
    border: 2px solid transparent;
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow);
}

main .smiles-form form p {
    position: absolute;
    left: 0;
    bottom: 2.2rem;
    display: none;
}

main .smiles-form .smiles-ta {
    width: 100%;
    background: var(--color-white);
    font-size: 1.5rem;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: var(--border-radius-1);
}

main .smiles-form form:focus-within{
    border: 2px solid var(--color-primary);
}

main .smiles-form form .smiles-btn {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    color: white;
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow);
    background: var(--color-primary);
    cursor: pointer;
}

main .smiles-form form .smiles-btn:hover{
    box-shadow: none;
}

.notification {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: sticky;
    padding: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: var(--border-radius-1);
    bottom: 1rem;
    right: 0;
    width: 30rem;
    height: 5rem;
    opacity: 0.7;
}

.notification .close {
    padding: 5px;
    color: white;
    cursor: pointer;
}

.notification .content {
    padding: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.notification h1 {
    margin: 0;
    padding: 0;
    display: block;
    color: white;

}

.notification p {
    display: block;
    color: white;
    font-size: 1.2rem;
}

.notification p span {
    user-select: all;
}

.notification.success,
.results-status.success {
    background: green;
}

.notification.warning {
    background: yellow;
}

.notification.danger,
.results-status.danger {
    background: red;
}

section.get-results {
    margin-top: calc(var(--header-margin) + 1.4rem);
}

section.get-results h2{
    color: var(--color-primary-variant);
    margin-bottom: 1.2rem;
}

section.get-results .check-status form {
    display: flex;
    justify-content: space-between;
}

section.get-results .check-status form input{
    width: 100%;
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-1);
    padding: 1.2rem;
    border: transparent solid 2px;
}

section.get-results .check-status form input:focus{
    border: var(--color-primary-variant) solid 2px;
}

section.get-results .check-status form input:hover {
    box-shadow: none;
}

section.get-results .check-status button.check-status-btn{
    width: 12rem;
    box-shadow: var(--box-shadow);
    margin-left: 1.5rem;
}

section.get-results .results-status {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.get-results .results-status {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    opacity: 0.7;
    border-radius: var(--border-radius-1);

}

section.get-results .results-status h2 {
    display: block;
    color: white;
    margin: 0;
    padding: 0;
    margin-left: 1.8rem;
}

section.get-results .results-status span {
    font-weight: 600;
}

section.get-results .results{
    margin-top: 1.5rem;
}

section.get-results .results table {
    background: var(--color-white);
    width: 100%;
    padding: var(--card-padding);
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

section.get-results .results table thead tr th{
    text-align: start;
}

section.get-results .results table:hover {
    box-shadow: none;
}

section.get-results .results-status {
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

table tbody tr:first-child td {
    border-top: 3px solid #4d4d4d;
}

section.get-results .results a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

/* --------results section----------- */

section.get-results {
    display: none;
}

.right {
    /* margin-top: 1.4rem; */
    padding-top: 1.4rem;
    align-self: start;
    position: sticky;
    top: 0;
}

.right .top {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right .top button {
    display: none;
    height: 100px;
}

.right .theme-toggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .theme-toggler span.active {
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.right .task-config {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    right: 0;
    margin-top: 2rem;
}

.right .task-config h2 {
    margin-bottom: 0.8rem;
}

.right .task-config .item {
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
}

.right .task-config .item span{
    color: darkgreen;
    font-size: 2rem;
}

@media screen and (max-width: 1200px) {
    .container {
        grid-template-columns: 7rem auto 23rem;
    }

    aside .logo h2{
        display: none;
    }
    aside .logo{
        display: none;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar div {
        width: 5.6rem;
    }

    main .option-types {
        grid-template-columns: 1fr;

    }
    section.get-results{
        margin-top: calc(var(--header-margin) + 1.4rem);
    }
}

@media screen and (max-width: 890px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }
    main .header-content {
        margin-top: 0;
    }
    aside {
        display: none;
        position: fixed;
        left: 0;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
    }
    aside .logo {
        margin-left: 1rem;
    }

    aside .logo h2 {
        display: inline-block;
    }
    aside .sidebar h3 {
        display: inline;
    }
    aside .sidebar div {
        width: 100%;
        height: 3.4rem;
    }
    aside .close {
        display: inline-block;
        position: absolute;
        left: 1.3rem;
        top: 1.3rem;
        cursor: pointer;
    }
    main {
        margin-top: 8rem;
        padding: 0 1rem;
    }

    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .right .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right .top button span {
        font-size: 2rem;
    }

    .right .task-config {
        display: none;
    }
    section.get-results{
        margin: 1.8rem;
        margin-top: 8rem;
    }
}

@media screen and (max-width: 545px) {
    .notification {
        width: 95vw;
    }
}